* {
  margin: 0;
  padding: 0;
}

#chart-container {
  position: relative;
  height: 70vh;
  overflow: scroll;
}

/* Fix issue with padding select */
.form-select-sm {
  padding-left: 0.85em!important;
}
